* {
	font-family: Verdana;
}

td {
	border: 1px #000000;
}
thead {
	font-weight: bold;
}
#body {

	text-align: left;
}
#table {
	width: 100%;
}

#h1, #h2, #h3, #h4, #h5, #h6 {
	text-align: left;
	color: white;
	background-color: #585858;
	border: double;
	border-bottom: none;
	border-color: black;
	font-size: medium;
}

#content {
	color: #000000;
	border: double;
	border-bottom: double;
	border-top: none border-color :black;
	background-color: #FFFFFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-left:double;
    border-right:double;
    background-color:#585858;
    border-bottom: double;
}

li {
    float: right;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#footer {
	text-align: center;
	color: white;
	background-color: #585858;
	border: double;
	border-top: none;
	border-color: black;
}

