<head>
<style>
font-family: Verdana;
font-size: 12px;
background-color: rgb(240,248,255);
text-align: center;

#body {
	margin: 0;
	background-color: rgb(240,248,255);
	padding: 0;
}

#h1 {
	text-shadow: 2px 2px #FF0000;
}
#h2 {
	color: #8B0000;
}
#p {
	padding: 20px;
}
#header {

	color: rgb(255,192,203);
}
#content {
	color: rgb(0,0,0);
	margin-left: 50px;
	margin-right: 150px;
}
#menu {
	color: rgb(128,0,128);
}

#footer {
	a: hover {
	background-color: #0000FF;
	text-decoration: underline;
}

margin-top:0px;
margin-left:45px;

}

